<div class="row">
   <div class="col-xs-12">
      <h1>Caminh천es Cadastrados</h1>
      <br>
      <%= link_to "Cadastre um novo caminh찾o", new_admin_truck_path, class: "btn btn-success" %>
   </div>
</div>
<br>
<br>
<div class="row">
  <% @trucks.each do |truck| %>
    <div class="col-xs-12 col-md-6">
      <div class="truck-card">
        <p><strong><%= truck.name  %></strong></p>
        <p>Vagas Totais: <%= truck.vacancies %></p>
        <p>Viagens cadastradas: <%= truck.trips.count %></p>
        <%= image_tag "truck-card.jpeg", class: "card-truck-avatar" %>
        <br>
        <div class="truck-card-links", class="list-inline">
        <%= link_to "Visualizar viagens", list_admin_truck_trips_path(truck), class: "btn btn-success"  %>
        <%= link_to "Editar caminh찾o", edit_admin_truck_path(truck), class: "btn btn-primary"  %>
        <%= link_to "Remover caminh찾o", admin_truck_path(truck), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
