<%# <%= cl_image_tag("v8tmtccui3tn0bncoqn5",
      width: 400, height: 300, crop: :fill) %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= cl_image_path('v8tmtccui3tn0bncoqn5.jpg') %>);">
  <div class="banner-content">
    <h1>AirTruck</h1>
    <p>Vá de avião, seu carro não</p>
    <%= form_tag(trips_path, method: :get) do %>
      <%= select_tag "origin_id", options_from_collection_for_select(City.all, "id", "name"), placeholder: "Origem" %>
      <%= select_tag "destination_id", options_from_collection_for_select(City.all, "id", "name"), placeholder: "Destino" %>
      <button type="submit" class="btn btn-primary btn-lg">Procure uma cegonha</button>
    <% end %>
  </div>
</div>
