<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category"><%= trip.price %></div>
  <div class="card-description">
    <h2><%= trip.departure_address%> - <%= trip.departure_address %></h2>
    <p><%= trip.departure_date %></p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <%= link_to "", "show_trip_path", class: "card-link" %>
</div>
