<%= simple_form_for([:admin, @truck, @trip]) do |f| %>
  <div class="form-input">
    <%= f.input :departure_address, collection: City.all %>
    <%= f.input :departure_date %>
    <%= f.input :arrival_address, collection: City.all %>
    <%= f.input :arrival_date %>
    <%= f.input :vacancies %>
    <%= f.input :price %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary"%>
  </div>
<% end %>
