<br>
<%= link_to 'Adicionar viagem', new_admin_truck_trip_path(@truck), class: "btn btn-success" %>
<%= link_to 'Voltar', admin_trucks_path, class: "btn btn-danger" %>
<br>
<h1>Viagens de <%= @truck.name %>:</h1>
<br>
<div class="row">
  <% if @trips == nil %>
    <p>Não há viagens cadastradas</p>
    <%= link_to 'Adicionar viagem', new_admin_truck_trip_path(@truck), class: "btn btn-success" %>
  <% else %>
    <% @trips.each do |trip| %>
      <div class="col-xs-12 col-md-6">
        <div class="trip-card">
          <h3>De <%= trip.city_origin.name %> para <%= trip.city_destination.name %></h3>
          <p>Horário de saída: <%= trip.departure_date %></p>
          <p>Horário de chegada: <%= trip.arrival_date %></p>
          <p>Vagas Restantes: <%= trip.vacancies %></p>
          <p>Preço: R$<%= trip.price %></p>
          <%= link_to "Detalhes", admin_trip_path(trip), class: "btn btn-primary" %>
          <!-- <%#= link_to "Editar", edit_admin_trip_path(trip), class: "btn btn-primary" %> -->
          <!-- <%#= link_to 'Deletar', list_admin_truck_trips_path(@truck), method: 'delete', data: { confirm: "Você tem certeza que deseja excluir este veículo?" }, class: "btn btn-danger" %> -->
        </div>
      </div>
    <% end %>
  <% end %>
</div>
