<br>
<%= link_to 'Adicionar viagem', new_admin_truck_trip_path(@truck), class: "btn btn-success" %>
<%= link_to 'Voltar', admin_trucks_path, class: "btn btn-danger" %>
<br>
<h1>Viagens de <%= @truck.name %>:</h1>
<br>
<div class="row">
  <% @trips.each do |trip| %>
    <div class="col-xs-12 col-md-6">
      <div class="trip-card">
        <p>Origem: <%= trip.city_origin.name %></p>
        <p>Horário de saída: <%= trip.departure_date %></p>
        <p>Destino: <%= trip.city_destination.name %></p>
        <p>Horário de chegada: <%= trip.arrival_date %></p>
        <p>Vagas Restantes: <%= trip.vacancies %></p>
        <p>Preço: <%= trip.price %></p>
        <%= link_to "Editar", edit_admin_trip_path(trip), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
