<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag(source='favicon.ico', options={}) %>
    <title>AirTruck - Transporte de Automóveis para qualquer parte do Brasil</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <!--<p class="notice"><%= notice %></p>-->
    <!--<p class="alert"><%= alert %></p>-->
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div class="container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>


    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=AIzaSyBXRjkgcu6otXSPEDS27-OcKFtAM8h8IL8" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
  </body>
</html>
