<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag(source='favicon.ico', options={})%>
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <!--<p class="notice"><%= notice %></p>-->
    <!--<p class="alert"><%= alert %></p>-->
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/banner' %>
    <div class="container">
    <%= yield %>
    </div>
    <%= render 'shared/value_proposition' %>
    <div class="text-center" style="padding: 50px 0; height:30vh;">
      <h2>Voce é trasportadora?<h2>
        <%= link_to "Cadastre seu Caminhão", new_admin_truck_path, class: "btn btn-primary btn-lg", style: "box-shadow: 1px 1px 3px rgba(0,0,0,0.1);" %>
    </div>
    <%= render 'shared/user_stories' %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
